.App {
  color: white;
  font-family: Helvetica, sans-serif;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#battery-image {
  height: 18px;
  width: 33px;
}

#battery-percent {
  margin-left: 0.3rem;
  margin-right: 0.8rem;
  display: flex;
  align-items: center;
}

#battery-estimate {
  margin-left: 0.3rem;
}

.battery-wrapper {
  display: flex;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -webkit-user-select: none;
}

*,
*::after,
*::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}