.app {
  color: white;
  font-family: Helvetica, sans-serif;
}

#battery-icon {
  margin-left: 0.6rem;
}

#battery-percent {
  margin-left: 0.3rem;
  display: flex;
  align-items: center;
}

#battery-estimate {
  margin-left: 0.3rem;
}

.battery-wrapper {
  display: flex;
}

#widget-wrapper {
  display: flex;
  justify-content: center;
}

#timer-wrapper {
  height: 45vh;
  font-size: 45vh;
  line-height: 45vh;
  margin-bottom: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

html,
body {
  overflow: hidden;
  margin: 0.25rem 0 0;
  padding: 0;
  background-color: black;
}

*,
*::after,
*::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: drag;
  cursor: default;
}